# Dependencies
/node_modules

# NestJS build output
/dist

# Environment variables
.env

# IDE files (if using Visual Studio Code)
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

